@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5 {
  @apply font-serif;
}
h1, h2, h3, h4, h5, p, span,  {
  @apply text-stone-700;
}


/* Nav Header */
.nav-module {
  nav {
    
  }
}
.nav-link a {
  @apply hover:underline;
}